.container {
  font-size: 40;
  font-family: Veranda;
  color: white;
  text-align: center;
  background-color: #EDCD54;
  width: 100%;
  float: right; 
  letter-spacing: 50px;  
}


img {
  height: 150px;
  width: 175px;
  padding-top: 25px;
  float: left;
  padding-left: 25px;
}

#inbox {
  font: Verdana;
  font-size: 20px;
  width: 10%;
  float: left;
}

#inboxCounter {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
  counter-increment: Counter;
}

#inboxCounter:after {
  content: counter(Counter);
}

#inboxCounter: nth-child() {
  counter-reset: (Counter);
}

.second_row {
  background-color: #3ABDFF;
  width: 100%;
  float: left;
}

#date {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
  display: inline;
  text-transform: uppercase;
}

#subject {
  font: Verdana;
  font-size: 20px;
  width: 40%;
  display: inline;
  text-transform: uppercase;
}

#sender {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: right;
  display: inline;
  text-transform: uppercase;
}


/*
.third_row {
  width: 100%;
  float: left;
}

#dates {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
}

#subjects {
  font: Verdana;
  font-size: 20px;
  width: 40%;
  float: left;

}

#senders {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
}


A:visited { 
  color:black; 
  text-decoration: none; 
  font-weight: normal;
}


A:active { 
  color: black; 
  text-decoration:none;
}*/

/*
A:hover {
  color: blue; 
  text-decoration: none; 
  font-weight: none;
}*/