.container {
  font-size: 40;
  font-family: Veranda;
  color: white;
  text-align: center;
  background-color: #EDCD54;
  width: 100%;
  float: right; 
  padding-bottom: 20px;  
}
.container h1 {
  text-align: center;
  padding-top: 40px;
  font-size: 50px;
  letter-spacing: 60px;
}

img {
  height: 150px;
  width: 195px;
  padding-top: 25px;
  float: left;
  padding-left: 25px;
}

/*#inbox {
  font: Verdana;
  font-size: 20px;
  width: 10%;
  float: left;
}*/

/*#inboxCounter {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
  counter-increment: Counter;
}*/

/*#inboxCounter:after {
  content: counter(Counter);
}*/

/*#inboxCounter: nth-child() {
  counter-reset: (Counter);
}*/

#Inbox {
  text-transform: uppercase;
  font-family: Veranda;
  font-size: 20px;
  padding-top: 5px; 
}

.second_row {
  background-color: #B9D7D9;
  width: 100%;
  height: 75px;
  float: left;
  margin-top: 5px;
  margin-bottom: 75px;
}

#date {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
  text-transform: uppercase;
  padding-top: 5px;
}

#subject {
  font: Verdana;
  font-size: 20px;
  width: 40%;
  text-transform: uppercase;
  padding-top: 5px;
}

#sender {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: right;
  text-transform: uppercase;
  padding-top: 5px;
}

#theSubject {
  font: Verdana;
  font-size: 20px;
  width: 40%;
  float: left;
  display: inline;
}

#theSender {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
  display: inline;
}
.third_row {
  width: 100%;
  float: left;
  height: 5px;
}
#placeholder {
  text-transform: uppercase;
}

#dates {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
}

#subjects {
  font: Verdana;
  font-size: 20px;
  width: 40%;
  width: 30%;
  float: left;

}

#senders {
  font: Verdana;
  font-size: 20px;
  width: 30%;
  float: left;
}

A:visited { 
  color:black; 
  text-decoration: none; 
  font-weight: normal;
}

A:active { 
  color: black; 
  text-decoration:none;
}

